// transition

// fade
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

// color

:root {
  --primary: #b09259;
  --secondary: #fcf6e6;
}
